html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.start-page-container span {
  font-size: 3em;
  text-align: center;
  padding: 0 2em 2em 2em;
}

.start-page-container p {
  font-size: 3em;
  text-align: center;
  padding: 0 1em 1em 1em;
}

.about-me > li {
  font-size: 1.3em;
  padding: .4em;
}

.about-me {
  padding-bottom: 2em;
}

.btn-next, #start-btn {
  border: 1px solid #0b2b36;
  color: #0b2b36;
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-next:hover, #start-btn:hover {
  background-color: #0b2b36;
  color: white;
  cursor: pointer;
}

.start-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.show-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 160px;
  top: 30px;
  right: 30px;
}

.show-nav > button {
  padding: 4px 8px;
  background-color: #0b2b36;
  border: 1px solid #93a1a2;
  border-radius: 5px;
  color: #93a1a2;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
}

.show-nav > button:hover {
  cursor: pointer;
  background-color: #93a1a2;
  color: #0b2b36;
}

.hide-nav, .hide {
  display: none;
  padding: none;
}

.bias-link:hover {
  color: white;
  cursor: pointer;
}